In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import datetime as dt

In [2]:
#import csv
hollywood_df = pd.read_csv('Hollywood.csv', encoding = "latin")
hollywood_df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt0316654,2012-12-21,2012-12-21,NaN,Spider-Man 2,https://www.imdb.com/title/tt0316654/,movie,7.3,127.0,2004,"Action, Adventure, Sci-Fi",537332,2004-06-25,Sam Raimi,10.0,2016-08-15
1,2,tt0317919,2012-12-21,2012-12-21,NaN,Mission: Impossible III,https://www.imdb.com/title/tt0317919/,movie,6.9,126.0,2006,"Action, Adventure, Thriller",326941,2006-04-24,J.J. Abrams,10.0,2016-08-15
2,3,tt0942385,2012-12-21,2012-12-21,NaN,Tropic Thunder,https://www.imdb.com/title/tt0942385/,movie,7.0,107.0,2008,"Action, Comedy, War",374296,2008-08-11,Ben Stiller,10.0,2016-08-15
3,4,tt0407887,2012-12-21,2012-12-21,NaN,The Departed,https://www.imdb.com/title/tt0407887/,movie,8.5,151.0,2006,"Crime, Drama, Thriller",1172174,2006-09-26,Martin Scorsese,10.0,2016-08-15
4,5,tt0145487,2012-12-21,2012-12-21,NaN,Spider-Man,https://www.imdb.com/title/tt0145487/,movie,7.3,121.0,2002,"Action, Adventure, Sci-Fi",680579,2002-04-30,Sam Raimi,10.0,2016-08-15

In [3]:
#import 
bollywood_df = pd.read_csv('Bollywood.csv', encoding = "latin")
bollywood_df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,2,tt0420332,2012-12-21,2012-12-21,NaN,Veer-Zaara,https://www.imdb.com/title/tt0420332/,movie,7.8,192,2004,"Drama, Family, Musical, Romance",48342,2004-11-12,Yash Chopra,10.0,2012-12-24
1,3,tt0347473,2012-12-21,2012-12-21,NaN,Main Hoon Na,https://www.imdb.com/title/tt0347473/,movie,7.0,182,2004,"Action, Comedy, Drama, Musical, Romance, Thriller",31844,2004-04-30,Farah Khan,10.0,2019-08-03
2,4,tt0213890,2012-12-21,2012-12-21,NaN,Mohabbatein,https://www.imdb.com/title/tt0213890/,movie,7.1,216,2000,"Musical, Drama, Romance",26885,2000-10-27,Aditya Chopra,10.0,2019-08-03
3,5,tt0126871,2012-12-21,2012-12-21,NaN,Deewana,https://www.imdb.com/title/tt0126871/,movie,6.9,185,1992,"Action, Comedy, Crime, Musical, Romance",6039,1992-06-25,Raj Kanwar,NaN,NaN
4,6,tt0110222,2012-12-21,2012-12-21,NaN,Kabhi Haan Kabhi Naa,https://www.imdb.com/title/tt0110222/,movie,7.8,158,1994,"Comedy, Drama, Music, Musical, Romance",17103,1994-02-25,Kundan Shah,NaN,NaN

In [4]:
#import 
tv_df = pd.read_csv('TV.csv', encoding = "latin")
tv_df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt0108778,2012-12-21,2012-12-21,NaN,Friends,https://www.imdb.com/title/tt0108778/,tvSeries,8.9,22.0,1994.0,"Comedy, Romance",800218.0,1994-09-22,NaN,NaN,NaN
1,2,tt0285403,2012-12-21,2012-12-21,NaN,Scrubs,https://www.imdb.com/title/tt0285403/,tvSeries,8.3,22.0,2001.0,"Comedy, Drama",234122.0,2001-10-02,NaN,NaN,NaN
2,3,tt0934814,2012-12-21,2012-12-21,NaN,Chuck,https://www.imdb.com/title/tt0934814/,tvSeries,8.2,43.0,2007.0,"Action, Comedy, Drama",126250.0,2007-09-24,NaN,10.0,2014-02-12
3,4,tt0096697,2012-12-21,2012-12-21,NaN,The Simpsons,https://www.imdb.com/title/tt0096697/,tvSeries,8.7,22.0,1989.0,"Animation, Comedy",359851.0,1989-12-17,NaN,NaN,NaN
4,5,tt0496424,2012-12-21,2012-12-21,NaN,30 Rock,https://www.imdb.com/title/tt0496424/,tvSeries,8.2,22.0,2006.0,Comedy,110459.0,2006-10-11,NaN,NaN,NaN

In [5]:
#combine dataframes
movies_df = pd.concat([hollywood_df, bollywood_df, tv_df], ignore_index=True)
movies_df['Genres'].value_counts()

Comedy                                              180
Comedy, Drama, Romance                              144
Comedy, Romance                                     136
Comedy, Drama                                       127
Drama                                                80
                                                   ...
Action, Drama, Horror, Mystery, Sci-Fi, Thriller      1
Crime, Sci-Fi, Thriller                               1
Adventure, Drama, Western                             1
Biography, Drama, Music, Romance                      1
Comedy, Crime, Fantasy, Horror                        1
Name: Genres, Length: 719, dtype: int64